.iphone13{
text-align: center;
letter-spacing: 1px;
color: grey;
margin: 5px;
}
.indichka{
font-size: 20px;



}

.iphone13pro{

color: cornflowerblue;


}

.text{
background-color: white;
border-style: solid;
text-align: center;

text-shadow: 0px 1px 0px;
border-color: white;
}
.text1{
background-color: cornflowerblue;
margin: 200px;
}