*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
width: 80%;
margin: 0 auto;

}
header{
background-color: #f6f6f9; 
height: 332px;
width: 100%;

}
.nav__brand{



}
nav .nav__ul{
display: flex;
width: 40%;
justify-content: space-around;

}
.nav__link{




}
nav{
width: 100%;
height: 70px;
display: flex;
justify-content: space-between;
background-color: #ffff;
align-items: center;
padding-left: 25px;
}
nav.nav__brand{
font-size: 30px;


}
nav .nav__ul .nav__link{
font-size: 18px;
list-style: none;
text-decoration: underline;

}
nav .nav__ul .nav__link a{
    text-decoration: none;
    color: lime;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
nav .nav__ul .nav__link a:hover{
color: crimson;


}