* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
table{

    margin: 100px auto;
}
th{
    padding: 5px 200px 20px 10px ;
    color: white;
    background-color: black;
  
}
td{
    padding: 5px 120px 20px 10px ;
}
